<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dia.findiggy"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name" android:debuggable="false">
        <activity
            android:name=".startingPoint"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startingPoint2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.dia.findiggy.STARTINGPOINT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.dia.findiggy.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeValueOfMoney"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".MoneyMarket"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".MeasuresFEI"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".ZeroCoupon"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".CouponBonds"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".SimpleInterest"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".PeriodicCompounding"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".StreamsOfPayments"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".ContinuousCompounding"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".Npv"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".AritReturn"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".ExpectedRet"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".OurViewClient"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name=".Support"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
    </application>

</manifest>